<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_x_cyeta.Properties.Settings.db22203ConnectionString"
            connectionString="Data Source=192.168.112.103;Initial Catalog=db22203;Persist Security Info=True;User ID=User003"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>